ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

li {
    width: 13%;
    /* border: 1px solid black; */
    aspect-ratio: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 6px;
    background-color: #1389b2;
}

.fizzbuzz {
    background-color: #f0466f;
    
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}
body {
    background-color:#083b4c;
}