ul {
    display: flex;
    flex-wrap: wrap;
    

}

li {
    width: 10%;
    border: 1px solid black;
    aspect-ratio: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px;
}

.fizzbuzz {
    background-color: brown;
    
}

.fizz {
    background-color: green;
}

.buzz {
    background-color: yellow;
}